# Actual location of file:
# /etc/systemd/system/magic-mirror.service

[Unit]
Description=MagicMirror
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/MagicMirror/scripts/launch/run-mirror.py
User=pi
Restart=always

[Install]
WantedBy=multi-user.target

